*{
    margin:0;
    padding: 0;
}
.red
{
    background-color: rgba(253, 94, 152, 0.586);
    color: black;
    border: 10px solid black;
    margin: 1px;
    padding: 9px;
}
.stream
{
    color: black;
}
.pre
{
    margin: 6px;
    color: rgba(241, 244, 245, 0.997);
    width: 932px;
    height: 110px;
}
.footer
{
    background-color: rgba(255, 127, 127, 0.616);
    color: black;
    border: 12px solid black;
    padding: 9px;
    height: 63px;
   
}
#blue
{
    background-image: url(contactt.jpeg);
    color: rgb(252, 248, 248);
    height:570px;
 
}

  
form {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px 2px rgba(183, 186, 194, 0.914);
}


button {
    background-color: #646c6e62;
    border: 1px solid #777;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
}